edexOsgi/com.raytheon.edex.common/res/NGATS_binding.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <!-- Created from mapping for class com.raytheon.edex.plugin.noaa.ascii.metar.MetarRecord -->
  <element name="METAR">
    <complexType>
      <sequence>
        <element name="header">
          <complexType>
            <sequence>
              <element minOccurs="0" name="reportType" type="xsd:string"/>
              <element minOccurs="0" name="timeNominal" type="xsd:string"/>
              <element minOccurs="0" name="timeObs" type="xsd:string"/>
              <element minOccurs="0" name="wmoID" type="xsd:string"/>
              <element minOccurs="0" name="stationID" type="xsd:string"/>
              <element minOccurs="0" name="autoStationType" type="xsd:string"/>
              <element minOccurs="0" name="latitude" type="xsd:string"/>
              <element minOccurs="0" name="longitude" type="xsd:string"/>
              <element minOccurs="0" name="elevation" type="xsd:string"/>
              <element minOccurs="0" name="raw_text" type="xsd:string"/>
            </sequence>
          </complexType>
        </element>
        <element name="observations">
          <complexType>
            <sequence>
              <element name="temperature">
                <complexType>
                  <sequence>
                    <element minOccurs="0" name="temperature" type="xsd:string"/>
                    <element minOccurs="0" name="tempFromTenths" type="xsd:string"/>
                    <element minOccurs="0" name="dewPoint" type="xsd:string"/>
                    <element minOccurs="0" name="dewPointFromTenths" type="xsd:string"/>
                    <element minOccurs="0" name="minTemp24Hour" type="xsd:string"/>
                    <element minOccurs="0" name="maxTemp24Hour" type="xsd:string"/>
                  </sequence>
                </complexType>
              </element>
              <element name="precipitation">
                <complexType>
                  <sequence>
                    <element minOccurs="0" name="precip1Hour" type="xsd:string"/>
                    <element minOccurs="0" name="precip3Hour" type="xsd:string"/>
                    <element minOccurs="0" name="precip6Hour" type="xsd:string"/>
                  </sequence>
                </complexType>
              </element>
              <element name="wind">
                <complexType>
                  <sequence>
                    <element minOccurs="0" name="windDir" type="xsd:string"/>
                    <element minOccurs="0" name="windSpeed" type="xsd:string"/>
                    <element minOccurs="0" name="windGust" type="xsd:string"/>
                  </sequence>
                </complexType>
              </element>
              <element name="pressure">
                <complexType>
                  <sequence>
                    <element minOccurs="0" name="altimeter" type="xsd:string"/>
                    <element minOccurs="0" name="altimeterInPa" type="xsd:string"/>
                    <element minOccurs="0" name="pressChangeChar" type="xsd:string"/>
                    <element minOccurs="0" name="pressChange3Hour" type="xsd:string"/>
                    <element minOccurs="0" name="seaLevelPress" type="xsd:string"/>
                  </sequence>
                </complexType>
              </element>
              <element name="visibility">
                <complexType>
                  <sequence>
                    <element minOccurs="0" name="visibility" type="xsd:string"/>
                    <element minOccurs="0" name="vertVisibility" type="xsd:string"/>
                  </sequence>
                </complexType>
              </element>
              <element name="sky">
                <complexType>
                  <sequence>
                    <element minOccurs="0" name="skyLayerBase" type="xsd:string"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="cloudLayer" type="xsd:string"/>
                  </sequence>
                </complexType>
              </element>
              <element name="weather">
                <complexType>
                  <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="phenomena" type="xsd:string"/>
                  </sequence>
                </complexType>
              </element>
            </sequence>
          </complexType>
        </element>
      </sequence>
    </complexType>
  </element>

  <!-- Created from mapping for class com.raytheon.edex.msg.ResponseMessageNGATS -->
  <element name="responseNGATS">
    <complexType>
      <sequence>
        <element maxOccurs="unbounded" minOccurs="0" ref="tns:location"/>
        <element maxOccurs="unbounded" minOccurs="0" name="shapefileURIs" type="xsd:string"/>
        <element maxOccurs="unbounded" minOccurs="0" name="imageryURIs" type="xsd:string"/>
        <element name="fileType" type="xsd:string"/>
        <element name="dataURI" type="xsd:string"/>
        <element name="validTime" type="xsd:dateTime"/>
      </sequence>
    </complexType>
  </element>

  <!-- Created from mapping for class com.raytheon.edex.plugin.ngats.Location -->
  <element name="location">
    <complexType>
      <sequence>
        <element name="icao" type="xsd:string"/>
        <element name="tafRecord" ref="tns:TAF"/>
        <element name="metarRecord" ref="tns:METAR"/>
      </sequence>
    </complexType>
  </element>

  <!-- Created from mapping for class com.raytheon.edex.plugin.noaa.ascii.taf.TafRecord -->
  <element name="TAF">
    <complexType>
      <sequence>
        <element name="tafInfo">
          <complexType>
            <sequence>
              <element minOccurs="0" name="wmoID" type="xsd:string"/>
              <element minOccurs="0" name="stationID" type="xsd:string"/>
              <element minOccurs="0" name="latitude" type="xsd:string"/>
              <element minOccurs="0" name="longitude" type="xsd:string"/>
              <element minOccurs="0" name="elevation" type="xsd:string"/>
              <element minOccurs="0" name="raw_text" type="xsd:string"/>
              <element minOccurs="0" name="issue_time" type="xsd:dateTime"/>
              <element minOccurs="0" name="bulletin_time" type="xsd:dateTime"/>
              <element minOccurs="0" name="valid_time_from" type="xsd:dateTime"/>
              <element minOccurs="0" name="valid_time_to" type="xsd:dateTime"/>
              <element minOccurs="0" name="remarks" type="xsd:string"/>
            </sequence>
          </complexType>
        </element>
        <element maxOccurs="unbounded" minOccurs="0" ref="tns:changeGroup"/>
      </sequence>
    </complexType>
  </element>

  <!-- Created from mapping for class com.raytheon.edex.plugin.noaa.ascii.taf.ChangeGroup -->
  <element name="changeGroup">
    <complexType>
      <sequence>
        <element minOccurs="0" name="change_indicator" type="xsd:string"/>
        <element minOccurs="0" name="theChangeGroup" type="xsd:string"/>
        <element minOccurs="0" name="tafPeriod" ref="tns:tafPeriod"/>
         
 
        <element minOccurs="0" name="time_becoming" type="xsd:dateTime"/>
        <element minOccurs="0" name="probability" type="xsd:string"/>
        <element minOccurs="0" name="wind_dir_degrees" type="xsd:string"/>
        <element minOccurs="0" name="wind_speed_kt" type="xsd:string"/>
        <element minOccurs="0" name="wind_gust_kt" type="xsd:string"/>
        <element minOccurs="0" name="wind_shear_hgt_ft_agl" type="xsd:string"/>
        <element minOccurs="0" name="wind_shear_dir_degrees" type="xsd:string"/>
        <element minOccurs="0" name="wind_shear_speed_kt" type="xsd:string"/>
        <element minOccurs="0" name="visibiilty_mi" type="xsd:string"/>
        <element minOccurs="0" name="altim_in_hg" type="xsd:string"/>
        <element minOccurs="0" name="vert_vis_ft" type="xsd:string"/>
        <element minOccurs="0" name="max_temp_c" type="xsd:string"/>
        <element minOccurs="0" name="min_temp_c" type="xsd:string"/>
        <element name="weather">
          <complexType>
            <sequence>
              <element maxOccurs="unbounded" minOccurs="0" name="phenomena" type="xsd:string"/>
            </sequence>
          </complexType>
        </element>
        <element name="sky_coverage">
          <complexType>
            <sequence>
              <element maxOccurs="unbounded" minOccurs="0" name="coverage" type="xsd:string"/>
            </sequence>
          </complexType>
        </element>
        <element maxOccurs="unbounded" minOccurs="0" ref="tns:icingLayer"/>
        <element maxOccurs="unbounded" minOccurs="0" ref="tns:turbulenceLayer"/>
        <element maxOccurs="unbounded" minOccurs="0" ref="tns:temperatureForecast"/>
      </sequence>
    </complexType>
  </element>

  <!-- Created from mapping for class com.raytheon.edex.plugin.noaa.ascii.taf.TafPeriod -->
  <element name="tafPeriod">
    <complexType>
      <sequence>
        <element minOccurs="0" name="the-start-date" type="xsd:dateTime"/>
        <element minOccurs="0" name="the-end-date" type="xsd:dateTime"/>
      </sequence>
    </complexType>
  </element>

  <!-- Created from mapping for class com.raytheon.edex.plugin.noaa.ascii.taf.IcingLayer -->
  <element name="icingLayer">
    <complexType>
      <sequence>
        <element minOccurs="0" name="icing_intensity" type="xsd:string"/>
        <element minOccurs="0" name="icing_min_alt_ft_agl" type="xsd:string"/>
        <element minOccurs="0" name="icing_max_alt_ft_agl" type="xsd:string"/>
      </sequence>
    </complexType>
  </element>

  <!-- Created from mapping for class com.raytheon.edex.plugin.noaa.ascii.taf.TurbulenceLayer -->
  <element name="turbulenceLayer">
    <complexType>
      <sequence>
        <element minOccurs="0" name="turbulence_intensity" type="xsd:string"/>
        <element minOccurs="0" name="turbulence_min_alt_ft_agl" type="xsd:string"/>
        <element minOccurs="0" name="turbulence_max_alt_ft_agl" type="xsd:string"/>
      </sequence>
    </complexType>
  </element>

  <!-- Created from mapping for class com.raytheon.edex.plugin.noaa.ascii.taf.TemperatureForecast -->
  <element name="temperatureForecast">
    <complexType>
      <sequence>
        <element minOccurs="0" name="valid_time" type="xsd:string"/>
        <element minOccurs="0" name="sfc_temp_c" type="xsd:string"/>
      </sequence>
    </complexType>
  </element>
</schema>