ncep/gov.noaa.nws.ncep.ui.pgen/src/gov/noaa/nws/ncep/ui/pgen/file/product.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<xsd:element name="Products">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Product" maxOccurs="unbounded" minOccurs="1">
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>


	<xsd:element name="Product">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Layer" maxOccurs="unbounded"
					minOccurs="1">
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="inputFile" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="outputFile" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="useFile" type="xsd:boolean"></xsd:attribute>
            <xsd:attribute name="saveLayers" type="xsd:boolean"></xsd:attribute>
            <xsd:attribute name="onOff" type="xsd:boolean"></xsd:attribute>
			<xsd:attribute name="center" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="forecaster" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="type" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="name" type="xsd:string"></xsd:attribute>
		</xsd:complexType>
	</xsd:element>

    <xsd:element name="Layer">
    	<xsd:complexType>
    		<xsd:sequence>
    			<xsd:element ref="Color" maxOccurs="1" minOccurs="1"></xsd:element>
    			<xsd:element ref="DrawableElement" maxOccurs="1"
    				minOccurs="0">
    			</xsd:element>
    		</xsd:sequence>
            <xsd:attribute name="outputFile" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="inputFile" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="filled" type="xsd:boolean"></xsd:attribute>
    		<xsd:attribute name="monoColor" type="xsd:boolean"></xsd:attribute>
    		<xsd:attribute name="onOff" type="xsd:boolean"></xsd:attribute>
    		<xsd:attribute name="name" type="xsd:string"></xsd:attribute>
    	</xsd:complexType>
    </xsd:element>
    
    <xsd:element name="DECollection">
    	<xsd:complexType>
    		<xsd:sequence>
    			<xsd:element ref="DrawableElement" maxOccurs="1"
    				minOccurs="0">
    			</xsd:element>
    		</xsd:sequence>
    		<xsd:attribute name="collectionName" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="pgenType" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="pgenCategory" type="xsd:string"></xsd:attribute>
    	</xsd:complexType>
    </xsd:element>

    <xsd:element name="Color">
    	<xsd:complexType>
            <xsd:attribute name="alpha" use="optional">
    			<xsd:simpleType>
    				<xsd:restriction base="xsd:int">
   					<xsd:minInclusive value="0"></xsd:minInclusive>
    			    <xsd:maxInclusive value="255"></xsd:maxInclusive>
    				</xsd:restriction>
    			</xsd:simpleType>
    		</xsd:attribute>
            <xsd:attribute name="blue" use="required">
    			<xsd:simpleType>
    				<xsd:restriction base="xsd:int">
    					<xsd:minInclusive value="0"></xsd:minInclusive>
    					<xsd:maxInclusive value="255"></xsd:maxInclusive>
    				</xsd:restriction>
    			</xsd:simpleType>
    		</xsd:attribute>
            <xsd:attribute name="green" use="required">
    			<xsd:simpleType>
    				<xsd:restriction base="xsd:int">
    					<xsd:minInclusive value="0"></xsd:minInclusive>
    					<xsd:maxInclusive value="255"></xsd:maxInclusive>
    				</xsd:restriction>
    			</xsd:simpleType>
    		</xsd:attribute>
            <xsd:attribute name="red" use="required">
    			<xsd:simpleType>
    				<xsd:restriction base="xsd:int">
    					<xsd:minInclusive value="0"></xsd:minInclusive>
    					<xsd:maxInclusive value="255"></xsd:maxInclusive>
    				</xsd:restriction>
    			</xsd:simpleType>
    		</xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="DrawableElement">
    	<xsd:complexType>
    		<xsd:choice>
    			<xsd:element ref="DECollection" maxOccurs="unbounded"
    				minOccurs="0">
    			</xsd:element>
    			<xsd:element ref="Line" maxOccurs="unbounded"
    				minOccurs="0">
    			</xsd:element>
    			<xsd:element ref="Symbol" maxOccurs="unbounded"
    				minOccurs="0">
    			</xsd:element>
    			<xsd:element ref="Text" maxOccurs="unbounded"
    				minOccurs="0">
    			</xsd:element>
    			<xsd:element ref="AvnText" maxOccurs="unbounded"
    				minOccurs="0">
    			</xsd:element>
    			<xsd:element ref="MidCloudText" maxOccurs="unbounded"
    				minOccurs="0">
    			</xsd:element>
    			<xsd:element ref="Arc" maxOccurs="unbounded"
    				minOccurs="0">
    			</xsd:element>
    			<xsd:element ref="Vector" maxOccurs="unbounded"
    				minOccurs="0">
    			</xsd:element>
    			<xsd:element ref="Track" maxOccurs="unbounded"
    				minOccurs="0">
    			</xsd:element>
    			<xsd:element ref="Contours" maxOccurs="unbounded" minOccurs="0">
    			</xsd:element>
    			<xsd:element ref="TCA" maxOccurs="unbounded"
    				minOccurs="0">
    			</xsd:element>
    			<xsd:element ref="Sigmet" maxOccurs="unbounded"
    				minOccurs="0">
    			</xsd:element>
    			<xsd:element ref="WatchBox" maxOccurs="unbounded"
    				minOccurs="0">
    			</xsd:element>
    			<xsd:element ref="Gfa" maxOccurs="unbounded"
    				minOccurs="0">
    			</xsd:element>
    			<xsd:element ref="Volcano" maxOccurs="unbounded"
    				minOccurs="0">
    			</xsd:element>
   				<xsd:element ref="TCM" maxOccurs="unbounded"
    				minOccurs="0">
    			</xsd:element>
    		</xsd:choice>
    	</xsd:complexType>
    </xsd:element>

    <xsd:element name="Line">
    	<xsd:complexType>
    		<xsd:sequence>
    			<xsd:element ref="Color" maxOccurs="unbounded"
    				minOccurs="1">
    			</xsd:element>
    			<xsd:element ref="Point" maxOccurs="unbounded"
    				minOccurs="1">
    			</xsd:element>
    		</xsd:sequence>
    		<xsd:attribute name="kinkPosition" type="xsd:double"></xsd:attribute>
            <xsd:attribute name="arrowHeadType" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="flipSide" type="xsd:boolean"></xsd:attribute>
            <xsd:attribute name="fillPattern" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="filled" type="xsd:boolean"></xsd:attribute>
    		<xsd:attribute name="closed" type="xsd:boolean"></xsd:attribute>
    		<xsd:attribute name="smoothFactor" type="xsd:int"></xsd:attribute>
    		<xsd:attribute name="sizeScale" type="xsd:double"></xsd:attribute>
    		<xsd:attribute name="lineWidth" type="xsd:float"></xsd:attribute>
    		<xsd:attribute name="pgenCategory" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="pgenType" type="xsd:string"></xsd:attribute>
    	</xsd:complexType>
    </xsd:element>
    
    <xsd:element name="WatchBox">
        <xsd:complexType>
        	<xsd:sequence>
        		<xsd:element ref="Color" maxOccurs="unbounded"
        			minOccurs="1">
        		</xsd:element>
        		<xsd:element name="fillColor" type="ColorType">
        		</xsd:element>

        		<xsd:element ref="Point" maxOccurs="unbounded"
        			minOccurs="1">
        		</xsd:element>
        		<xsd:element name="AnchorPoints" type="xsd:string"
        			maxOccurs="unbounded" minOccurs="0">
        		</xsd:element>
        		<xsd:element name="Counties" type="xsd:string"
        			maxOccurs="unbounded" minOccurs="0">
        		</xsd:element>
        		<xsd:element name="States" type="xsd:string"
        			maxOccurs="unbounded" minOccurs="0">
        		</xsd:element>

        		<xsd:element name="Outline" maxOccurs="unbounded" minOccurs="0" >
        				<xsd:complexType>
        				     <xsd:sequence>
        						<xsd:element ref="Point" maxOccurs="unbounded"
        								minOccurs="3">
        						</xsd:element>
        					 </xsd:sequence>
        					
        				</xsd:complexType>
        		</xsd:element>
        		<xsd:element name="Hole" maxOccurs="unbounded" minOccurs="0" >
        				<xsd:complexType>
        				     <xsd:sequence>
        						<xsd:element ref="Point" maxOccurs="unbounded"
        								minOccurs="3">
        						</xsd:element>
        					 </xsd:sequence>
        				</xsd:complexType>
        		</xsd:element>
        		
         		<xsd:element name="Status" maxOccurs="unbounded" minOccurs="0" >
        				<xsd:complexType>
        				    <xsd:attribute name="fromLine" type="xsd:string"></xsd:attribute>
        					<xsd:attribute name="mesoDiscussionNumber" type="xsd:int"></xsd:attribute>
        					<xsd:attribute name="statusValidTime" type="xsd:dateTime"></xsd:attribute>
        					<xsd:attribute name="statusExpTime" type="xsd:dateTime"></xsd:attribute>
        					<xsd:attribute name="statusForecaster" type="xsd:string"></xsd:attribute>
        				</xsd:complexType>
        		</xsd:element>      		
        		
        	</xsd:sequence>
        	
        	<xsd:attribute name="pgenType" type="xsd:string"></xsd:attribute>
        	<xsd:attribute name="pgenCategory" type="xsd:string"></xsd:attribute>
        	<xsd:attribute name="boxShape" type="xsd:string"></xsd:attribute>
        	<xsd:attribute name="fillFlag" type="xsd:boolean"></xsd:attribute>
        	<xsd:attribute name="symbolType" type="xsd:string"></xsd:attribute>
        	<xsd:attribute name="symbolWidth" type="xsd:float"></xsd:attribute>
        	<xsd:attribute name="symbolSize" type="xsd:double"></xsd:attribute>
        	<xsd:attribute name="issueStatus" type="xsd:string"></xsd:attribute>
        	<xsd:attribute name="issueTime" type="xsd:dateTime"></xsd:attribute>
        	<xsd:attribute name="expTime" type="xsd:dateTime"></xsd:attribute>
        	<xsd:attribute name="severity" type="xsd:string"></xsd:attribute>
        	<xsd:attribute name="timeZone" type="xsd:string"></xsd:attribute>
        	<xsd:attribute name="hailSize" type="xsd:float"></xsd:attribute>
        	<xsd:attribute name="gust" type="xsd:int"></xsd:attribute>
        	<xsd:attribute name="top" type="xsd:int"></xsd:attribute>
        	<xsd:attribute name="moveDir" type="xsd:int"></xsd:attribute>
        	<xsd:attribute name="moveSpeed" type="xsd:int"></xsd:attribute>
        	<xsd:attribute name="adjAreas" type="xsd:string"></xsd:attribute>
        	<xsd:attribute name="replWatch" type="xsd:int"></xsd:attribute>
        	<xsd:attribute name="issueFlag" type="xsd:int"></xsd:attribute>
        	<xsd:attribute name="watchType" type="xsd:string"></xsd:attribute>
        	<xsd:attribute name="watchNumber" type="xsd:int"></xsd:attribute>
        	<xsd:attribute name="contWatch" type="xsd:int"></xsd:attribute>
        	<xsd:attribute name="forecaster" type="xsd:string"></xsd:attribute>
        	<xsd:attribute name="endPointAnc" type="xsd:string"></xsd:attribute>
        	<xsd:attribute name="endPointVor" type="xsd:string"></xsd:attribute>
        	<xsd:attribute name="halfWidthNm" type="xsd:int"></xsd:attribute>
        	<xsd:attribute name="halfWidthSm" type="xsd:int"></xsd:attribute>
        	<xsd:attribute name="watchAreaNm" type="xsd:int"></xsd:attribute>
        	<xsd:attribute name="wfos" type="xsd:string"></xsd:attribute>

        </xsd:complexType>
    </xsd:element>

    <xsd:element name="Symbol">
    	<xsd:complexType>
    		<xsd:sequence>
    			<xsd:element ref="Color" maxOccurs="unbounded"
    				minOccurs="1">
    			</xsd:element>
    			<xsd:element ref="Point" maxOccurs="1" minOccurs="1"></xsd:element>
    		</xsd:sequence>
    		<xsd:attribute name="clear" type="xsd:boolean"></xsd:attribute>
    		<xsd:attribute name="sizeScale" type="xsd:double"></xsd:attribute>
    		<xsd:attribute name="lineWidth" type="xsd:float"></xsd:attribute>
    		<xsd:attribute name="pgenType" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="pgenCategory" type="xsd:string"></xsd:attribute>
    	</xsd:complexType>
    </xsd:element>

    <xsd:element name="Point">
    	<xsd:complexType>
    		<xsd:attribute name="Lon" type="xsd:double"></xsd:attribute>
            <xsd:attribute name="Lat" type="xsd:double">
    		</xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="Text">
    	<xsd:complexType>
    		<xsd:sequence>
    			<xsd:element ref="Color" maxOccurs="unbounded"
    				minOccurs="1">
    			</xsd:element>
    			<xsd:element ref="Point" maxOccurs="1" minOccurs="1"></xsd:element>
    			<xsd:element name="textLine" type="xsd:string"
    				maxOccurs="unbounded" minOccurs="1">
    			</xsd:element>
    		</xsd:sequence>
            <xsd:attribute name="auto" type="xsd:boolean"></xsd:attribute>
            <xsd:attribute name="hide" type="xsd:boolean"></xsd:attribute>
            <xsd:attribute name="xOffset" type="xsd:int"></xsd:attribute>
    		<xsd:attribute name="yOffset" type="xsd:int"></xsd:attribute>
    		<xsd:attribute name="displayType" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="mask" type="xsd:boolean"></xsd:attribute>
    		<xsd:attribute name="rotationRelativity"
    			type="xsd:string">
    		</xsd:attribute>
    		<xsd:attribute name="rotation" type="xsd:double"></xsd:attribute>
    		<xsd:attribute name="justification" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="style" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="fontName" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="fontSize" type="xsd:float"></xsd:attribute>
    		<xsd:attribute name="pgenType" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="pgenCategory" type="xsd:string"></xsd:attribute>
    	</xsd:complexType>
    </xsd:element>

    <xsd:element name="AvnText">
    	<xsd:complexType>
    		<xsd:sequence>
    			<xsd:element ref="Color" maxOccurs="unbounded"
    				minOccurs="1">
    			</xsd:element>
    			<xsd:element ref="Point" maxOccurs="1" minOccurs="1"></xsd:element>
    		</xsd:sequence>
    		<xsd:attribute name="avnTextType" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="topValue" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="bottomValue" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="justification" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="style" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="fontName" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="fontSize" type="xsd:float"></xsd:attribute>
    		<xsd:attribute name="symbolPatternName" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="pgenType" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="pgenCategory" type="xsd:string"></xsd:attribute>
    	</xsd:complexType>
    </xsd:element>
    
    <xsd:element name="MidCloudText">
    	<xsd:complexType>
    		<xsd:sequence>
    			<xsd:element ref="Color" maxOccurs="unbounded"
    				minOccurs="1">
    			</xsd:element>
    			<xsd:element ref="Point" maxOccurs="1" minOccurs="1"></xsd:element>
    		</xsd:sequence>
    		<xsd:attribute name="cloudTypes" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="cloudAmounts" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="turbulenceType" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="turbulenceLevels" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="icingType" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="icingLevels" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="tstormTypes" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="tstormLevels" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="justification" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="style" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="fontName" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="fontSize" type="xsd:float"></xsd:attribute>
    		<xsd:attribute name="pgenType" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="pgenCategory" type="xsd:string"></xsd:attribute>
    	</xsd:complexType>
    </xsd:element>
    
    <xsd:element name="Arc">
    	<xsd:complexType>
    		<xsd:sequence>
    			<xsd:element ref="Color" maxOccurs="unbounded"
    				minOccurs="1">
    			</xsd:element>
    			<xsd:element ref="Point" maxOccurs="unbounded"
    				minOccurs="1">
    			</xsd:element>
    		</xsd:sequence>
    		<xsd:attribute name="fillPattern" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="filled" type="xsd:boolean"></xsd:attribute>
    		<xsd:attribute name="closed" type="xsd:boolean"></xsd:attribute>
    		<xsd:attribute name="smoothFactor" type="xsd:int"></xsd:attribute>
    		<xsd:attribute name="sizeScale" type="xsd:double"></xsd:attribute>
    		<xsd:attribute name="linePattern" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="lineWidth" type="xsd:float"></xsd:attribute>
    		<xsd:attribute name="axisRatio" type="xsd:double"></xsd:attribute>
    		<xsd:attribute name="startAngle" type="xsd:double"></xsd:attribute>
    		<xsd:attribute name="endAngle" type="xsd:double"></xsd:attribute>
    		<xsd:attribute name="pgenType" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="pgenCategory" type="xsd:string"></xsd:attribute>
    	</xsd:complexType>
    </xsd:element>

    <xsd:complexType name="TrackPoint">
      <xsd:sequence>
         <xsd:element name="time" type="xsd:dateTime" />
         <xsd:element name="location">
            <xsd:complexType>
    		<xsd:attribute name="longitude" type="xsd:double"></xsd:attribute>
            	<xsd:attribute name="latitude" type="xsd:double"></xsd:attribute>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ColorType">
      <xsd:sequence>
        <xsd:element ref="Color" maxOccurs="1" minOccurs="1"/>
      </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="Track">
    	<xsd:complexType>
    		<xsd:sequence>
    			<xsd:element name="initialColor" type="ColorType"></xsd:element>
    			<xsd:element name="extrapColor" type="ColorType"></xsd:element>
    			<xsd:element name="initialPoints" type="TrackPoint" maxOccurs="unbounded" minOccurs="1"></xsd:element>
    			<xsd:element name="extrapPoints" type="TrackPoint" maxOccurs="unbounded" minOccurs="1"></xsd:element>
    			<xsd:element name="extraPointTimeTextDisplayIndicator" type="xsd:boolean" maxOccurs="unbounded" minOccurs="1"></xsd:element>
    		</xsd:sequence>
    		<xsd:attribute name="initialLinePattern" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="extrapLinePattern" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="initialMarker" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="extrapMarker" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="lineWidth" type="xsd:float"></xsd:attribute>
    		<xsd:attribute name="fontName" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="fontSize" type="xsd:float"></xsd:attribute>
    		<xsd:attribute name="pgenType" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="pgenCategory" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="setTimeButtonSelected" type="xsd:boolean"></xsd:attribute>
    		<xsd:attribute name="intervalComboSelectedIndex" type="xsd:int"></xsd:attribute>
    		<xsd:attribute name="intervalTimeTextString" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="extraPointTimeDisplayOptionName" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="skipFactorTextString" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="fontNameComboSelectedIndex" type="xsd:int"></xsd:attribute>
    		<xsd:attribute name="fontSizeComboSelectedIndex" type="xsd:int"></xsd:attribute>
    		<xsd:attribute name="fontStyleComboSelectedIndex" type="xsd:int"></xsd:attribute>
    	</xsd:complexType>
    </xsd:element>
    
    <xsd:element name="Vector">
    	<xsd:complexType>
    		<xsd:sequence>
    			<xsd:element ref="Color" maxOccurs="unbounded"
    				minOccurs="1">
    			</xsd:element>
    			<xsd:element ref="Point" maxOccurs="1" minOccurs="1"></xsd:element>
    		</xsd:sequence>
    		<xsd:attribute name="clear" type="xsd:boolean"></xsd:attribute>
    		<xsd:attribute name="sizeScale" type="xsd:double"></xsd:attribute>
    		<xsd:attribute name="lineWidth" type="xsd:float"></xsd:attribute>
            <xsd:attribute name="directionOnly" type="xsd:boolean"></xsd:attribute>
            <xsd:attribute name="arrowHeadSize" type="xsd:double"></xsd:attribute>
    		<xsd:attribute name="speed" type="xsd:double"></xsd:attribute>
    		<xsd:attribute name="direction" type="xsd:double"></xsd:attribute>
    		<xsd:attribute name="pgenType" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="pgenCategory" type="xsd:string"></xsd:attribute>
    	</xsd:complexType>
    </xsd:element>
    
    <xsd:element name="Contours">
    	<xsd:complexType>
    		<xsd:sequence>
    			<xsd:element ref="DECollection" maxOccurs="unbounded"
    				minOccurs="0">
    			</xsd:element>
    		</xsd:sequence>
    		<xsd:attribute name="cint" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="time2" type="xsd:dateTime"></xsd:attribute>
    		<xsd:attribute name="time1" type="xsd:dateTime"></xsd:attribute>
            <xsd:attribute name="forecastHour" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="level" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="parm" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="pgenType" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="pgenCategory" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="collectionName" type="xsd:string"></xsd:attribute>
    	</xsd:complexType>
    </xsd:element>
    
    <xsd:element name="Outlook">
    	<xsd:complexType>
    		<xsd:sequence>
    			<xsd:element ref="DECollection" maxOccurs="unbounded"
    				minOccurs="0">
    			</xsd:element>
    		</xsd:sequence>
            <xsd:attribute name="pgenType" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="pgenCategory" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="name" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="outlookType" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="forecaster" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="days" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="lineInfo" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="issueTime" type="xsd:dateTime"></xsd:attribute>
        	<xsd:attribute name="expTime" type="xsd:dateTime"></xsd:attribute>
        </xsd:complexType>
    </xsd:element> 
    
    <xsd:element name="TCA">
    	<xsd:complexType>
    		<xsd:sequence>
    			<!--xsd:element ref="Color" maxOccurs="unbounded"
    				minOccurs="1">
    				</xsd:element-->
    			<!--xsd:element ref="Advisory" maxOccurs="1" minOccurs="1">
    			</xsd:element-->
    		</xsd:sequence>
    		<xsd:attribute name="stormNumber" type="xsd:int"></xsd:attribute>
    		<xsd:attribute name="stormName" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="basin" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="issueStatus" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="stormType" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="advisoryNumber" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="advisoryTime" type="xsd:dateTime"></xsd:attribute>
    		<xsd:attribute name="timeZone" type="xsd:string"></xsd:attribute>
    		<!--xsd:attribute name="textLocation" ref="Point"></xsd:attribute-->
    		<xsd:attribute name="pgenType" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="pgenCategory" type="xsd:string"></xsd:attribute>
    	</xsd:complexType>
    </xsd:element>
    
    <xsd:element name="Sigmet">
    	<xsd:complexType>
    		<xsd:sequence>
    			<xsd:element ref="Color" maxOccurs="unbounded"
    				minOccurs="1">
    			</xsd:element>
    			<xsd:element ref="Point" maxOccurs="unbounded"
    				minOccurs="1">
    			</xsd:element>
    		</xsd:sequence>
            <xsd:attribute name="pgenType" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="fillPattern" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="filled" type="xsd:boolean"></xsd:attribute>
    		<xsd:attribute name="closed" type="xsd:boolean"></xsd:attribute>
    		<xsd:attribute name="smoothFactor" type="xsd:int"></xsd:attribute>
            <xsd:attribute name="sizeScale" type="xsd:double"></xsd:attribute>
            <xsd:attribute name="lineWidth" type="xsd:float"></xsd:attribute>
            <xsd:attribute name="pgenCategory" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="type" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="width" type="xsd:double"></xsd:attribute>

            <xsd:attribute name="editableAttrArea" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="editableAttrStatus" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="editableAttrId" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="editableAttrSeqNum" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="editableAttrStartTime" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="editableAttrEndTime" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="editableAttrRemarks" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="editableAttrPhenom" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="editableAttrPhenom2" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="editableAttrPhenomName" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="editableAttrPhenomLat" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="editableAttrPhenomLon" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="editableAttrPhenomPressure" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="editableAttrPhenomMaxWind" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="editableAttrFreeText" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="editableAttrTrend" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="editableAttrMovement" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="editableAttrPhenomSpeed" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="editableAttrPhenomDirection" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="editableAttrLevel" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="editableAttrLevelInfo1" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="editableAttrLevelInfo2" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="editableAttrLevelText1" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="editableAttrLevelText2" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="editableAttrFromLine" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="editableAttrFir" type="xsd:string"></xsd:attribute>
            
    	</xsd:complexType>
    </xsd:element>

    <xsd:element name="Gfa">
    	<xsd:complexType>
    		<xsd:sequence>
    			<xsd:element ref="Color" maxOccurs="unbounded"
    				minOccurs="1">
    			</xsd:element>
    			<xsd:element ref="Point" maxOccurs="unbounded"
    				minOccurs="1">
    			</xsd:element>
    		</xsd:sequence>
    		<xsd:attribute name="otlkCondsEndg" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="otlkCondsDvlpg" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="condsContg" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="fromCondsEndg" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="fromCondsDvlpg" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="airmetTag" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="outlookEndTime" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="untilTime" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="issueTime" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="textVor" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="otherValues" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="contour" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="gr" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="frequency" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="tsCategory" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="fzlRange" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="level" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="intensity" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="speed" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="dueTo" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="lyr" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="coverage" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="fzlTopBottom" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="cig" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="vis" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="bottom" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="top" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="states" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="ending" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="beginning" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="area" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="type" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="cycleHour" type="xsd:int"></xsd:attribute>
    		<xsd:attribute name="cycleDay" type="xsd:int"></xsd:attribute>
    		<xsd:attribute name="isOutlook" type="xsd:boolean"></xsd:attribute>
    		<xsd:attribute name="issueType" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="desk" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="tag" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="fcstHr" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="hazard" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="lonText" type="xsd:double"></xsd:attribute>
    		<xsd:attribute name="latText" type="xsd:double"></xsd:attribute>
    		<xsd:attribute name="fillPattern" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="filled" type="xsd:boolean"></xsd:attribute>
    		<xsd:attribute name="closed" type="xsd:boolean"></xsd:attribute>
    		<xsd:attribute name="smoothFactor" type="xsd:int"></xsd:attribute>
    		<xsd:attribute name="sizeScale" type="xsd:double"></xsd:attribute>
    		<xsd:attribute name="lineWidth" type="xsd:float"></xsd:attribute>
    		<xsd:attribute name="pgenType" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="pgenCategory" type="xsd:string"></xsd:attribute>
    	</xsd:complexType>
    </xsd:element>
    <xsd:element name="Volcano">
        <xsd:complexType>
    	
    		<xsd:sequence>
    			<xsd:element ref="Color" maxOccurs="unbounded"
    				minOccurs="1">
    			</xsd:element>
    			<xsd:element ref="Point" maxOccurs="unbounded"
    				minOccurs="1">
    			</xsd:element>
    		</xsd:sequence>
    		
            <xsd:attribute name="clear" type="xsd:boolean"></xsd:attribute>
            <xsd:attribute name="sizeScale" type="xsd:double"></xsd:attribute>
            <xsd:attribute name="lineWidth" type="xsd:float"></xsd:attribute>
            <xsd:attribute name="pgenType" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="pgenCategory" type="xsd:string"></xsd:attribute>

            <xsd:attribute name="name" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="number" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="txtLoc" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="area" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="elev" type="xsd:string"></xsd:attribute>  
    		
            <xsd:attribute name="origStnVAAC" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="wmoId" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="hdrNum" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="product" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="year" type="xsd:string"></xsd:attribute>  
            <xsd:attribute name="advNum" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="corr" type="xsd:string"></xsd:attribute>    
    		
            <xsd:attribute name="infoSource" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="addInfoSource" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="aviColorCode" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="erupDetails" type="xsd:string"></xsd:attribute>
    		
            <xsd:attribute name="obsAshDate" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="obsAshTime" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="nil" type="xsd:string"></xsd:attribute>
            
            <xsd:attribute name="obsFcstAshCloudInfo" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="obsFcstAshCloudInfo6" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="obsFcstAshCloudInfo12" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="obsFcstAshCloudInfo18" type="xsd:string"></xsd:attribute>
    		
            <xsd:attribute name="remarks" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="nextAdv" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="forecasters" type="xsd:string"></xsd:attribute>  		               
            
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="TCM">
    	<xsd:complexType>
    		<xsd:sequence>
    			<!--xsd:element ref="Color" maxOccurs="unbounded"
    				minOccurs="1">
    				</xsd:element-->
    			<!--xsd:element ref="Advisory" maxOccurs="1" minOccurs="1">
    			</xsd:element-->
    		</xsd:sequence>
    		
     		<xsd:attribute name="stormName" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="stormType" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="stormNumber" type="xsd:int"></xsd:attribute>
    		<xsd:attribute name="advisoryNumber" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="advisoryTime" type="xsd:dateTime"></xsd:attribute>
    		<xsd:attribute name="basin" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="eyeSize" type="xsd:int"></xsd:attribute>
    		<xsd:attribute name="positionAccuracy" type="xsd:int"></xsd:attribute>
    		<xsd:attribute name="correction" type="xsd:boolean"></xsd:attribute>
    		<xsd:attribute name="centralPressure" type="xsd:int"></xsd:attribute>
    		
    		<xsd:attribute name="pgenType" type="xsd:string"></xsd:attribute>
    		<xsd:attribute name="pgenCategory" type="xsd:string"></xsd:attribute>
	   	</xsd:complexType>
    </xsd:element>
</xsd:schema>

